* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  margin-top:-15px;
  background-color: #5279F4;
  border: 0;
  padding-top:0px;
  font-size: 12px !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
  font-size:14px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #5279F4 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #5279F4;
  margin-top: 0;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],.description,.case-number{
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

button[type="submit"] {
  padding: 10px;
  background-color: #5279F4;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #ffffff; /* Apply opposite background color on hover */
  color: #5279F4; /* Apply opposite text color on hover */
  border: 1px solid #5279F4; /* Apply border color and width on hover */
}

a{
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #5279F4;
  text-decoration: none;
}
#link{
  margin-bottom: 10px;
  padding-bottom:10px;
  margin-top:0px;
  padding-top:0px
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.modal h2 {
  margin-top: 0;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 5px;
}

